<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd">

<!--        数据库的配置信息-->
    <context:property-placeholder location="classpath:jdbc.properties"/>

<!--        声明数据源-->
    <bean id="myDataSource" class="com.alibaba.druid.pool.DruidDataSource"
          init-method="init" destroy-method="close">
<!--        set注入给DruidDataSource提供连接数据库信息-->
<!--        s使用属性配置文件中的数据。语法${}-->
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.passwd}"/>
        <property name="maxActive" value="${jdbc.max}"/>
    </bean>

<!--        声明mybatis中提供的SqlSessionFactoryBean类-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
<!--        set注入，把数据连接池赋给DataSource-->
        <property name="dataSource" ref="myDataSource"/>
<!--        mybatis主配置文件位置-->
<!--        configLocation属性是Resource，读取配置文件，赋值使用value，指定文件的路径，使用classpath:文件名-->
        <property name="configLocation" value="classpath:mybatis.xml"/>
    </bean>

<!--        创建dao对象，使用getMapper-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
<!--        指定SqlSessionFactory的id-->
        <property name="SqlSessionFactoryBeanName" value="sqlSessionFactory"/>
<!--        指定包名，包名是dao接口所在的包名-->
        <property name="basePackage" value="com.bjpowernode.dao"/>
    </bean>

<!--    声明service-->
    <bean id="studentService" class="com.bjpowernode.service.impl.StudentServiceImpl">
        <property name="studentDao" ref="studentDao"/>

    </bean>

</beans>